html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

* body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

/* header start --------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper__full {
  max-width: 1262px;
  margin: 0 auto;
}

.section__title {
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  padding-bottom: 10px;
}

.section__title::after {
  content: "";
  display: block;
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 82px;
}

.header__link {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  line-height: 24px; /* 133.333% */
  text-decoration: none;
}

.header__link:hover,
.header__link:active,
.header__link:focus {
  opacity: 0.75;
}

/*  main start ----------------------------- */

.intro {
  min-height: 100vh;
  background: url(/img/main-bc.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro__title {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  max-width: 619px;
  margin-bottom: 22px;
}

.intro__subtitle {
  color: #fff;
  font-size: 16px;
  line-height: 24px; /* 150% */
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form__wrap {
  display: flex;
  flex-wrap: wrap;
}

.search-form__field {
  width: 297px;
  background: transparent url(/img/curcl-icon.svg) no-repeat left 3px;
  background-size: 20px;
  border: none;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding: 0 0 22px 43px;
  color: #fff;
}

.search-form__field::placeholder {
  color: #bfc0c5;
  font-size: 18px;
  font-weight: 500;
}

.search-form__submit {
  color: white;
  background-color: #1b7dff;
  padding: 15px 29px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 500;
  border: none;
}

.search-form__submit:hover,
.search-form__submit:active,
.search-form__submit:focus {
  background-color: #0e53af;
  cursor: pointer;
}

/* benefits start ------------------------ */

.benefits {
  margin-bottom: 130px;
}

.benefits__wrap {
  max-width: 1262px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
  position: relative;
  border: 1px solid white;
}

.benefits__title {
  width: 100%;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  padding: 50px 100px 50px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
  margin-bottom: 112px;
}

.benefits__card {
  grid-column: span 1;
}

.benefits__card-pic {
  margin-bottom: 37px;
}

.benefits__card-img {
  display: block;
  width: 66px;
}

.benefits__card-title {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  margin-bottom: 26px;
}

.benefits__card-desc {
  color: #000;
  font-size: 16px;
  line-height: 24px; /* 150% */
  max-width: 300px;
  margin-bottom: 39px;
}

.benefits__card-more {
  font-size: 16px;
  color: #006dfe;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/Shape.svg) no-repeat 95% center;
  display: inline-block;
  line-height: 24px; /* 150% */
  transition: 0.3s all;
}

.benefits__card-more:hover {
  background: url(../img/Shape.svg) no-repeat right center;
}

/* places style start ------------------- */

.places {
  margin-bottom: 131px;
}

.paces__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  margin-right: 15px;
}

.places__view-all {
  padding-right: 59px;
  color: #006dfe;
  text-decoration: none;
  background: url(../img/Shape.svg) no-repeat 95% center;
}

.places__view-all:hover,
.places__view-all:active,
.places__view-all:focus {
  opacity: 0.65;
  color: brown;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card:hover .places__card-pic {
  transform: scale(1.05);
}

.places__card::after {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(21, 24, 36, 0.4);
}

.places__card-title {
  position: absolute;
  bottom: 27px;
  left: 29px;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  z-index: 3;
}

.places__card-size {
  grid-column: span 3;
}

.places__card-size-sm {
  grid-column: span 2;
}

.places__card-pic {
  width: 100%;
  transition: 0.15s all;
}

.places__card-pic-lg {
  height: 354px;
  object-fit: cover;
}

.places__card-pic-sm {
  height: 283px;
  object-fit: cover;
}

/* Tours sryle start ----------------------------- */

.tours {
  margin-bottom: 139px;
}

.tuor__info {
  padding-left: 45px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour__desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__more {
  font-size: 16px;
  color: #006dfe;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/Shape.svg) no-repeat 95% center;
}

.tour__more:hover,
.tour__more:active,
.tour__more:focus {
  opacity: 0.65;
  background: url(../img/Shape.svg) no-repeat right center;
  transition: 0.3s all;
}
